section#profile
    .container
        .columns
        .column
          .tabs(data-bulma='tabs')
            ul
              li.is-active
                a(data-tab='#tab1') Profile
              li
                a(data-tab='#tab2') Translations
              li
                a(data-tab='#tab3') Balance
        .columns
            .column
            section#tab1.section
                .profile-tab
                    .profile-wrap
                        .profile-img
                            img(src="./img/5.jpg", alt="")
                            .profile-rating
                            a.button.is-primary Primary
                        .profile
                            h4 Alisa
                            h4 Rating 312
            section#tab2.section
                h3.title  Tab 2
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            section#tab3.section
                h3.title  Tab 3
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
